.range-slider-block {
  width: 340px;
  height: 100px;
  padding: 10px 40px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.range-slider-block__title {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.range-slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-slider__value {
  width: 35px;
  height: 20px;
}

.range-slider__range {
  width: 176px;
  height: 3px;
}
