.range-slider-block {
  width: 340px;
  height: 100px;
  padding: 10px 40px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.range-slider-block__title {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.range-slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-slider_border {
  border-bottom: 1px solid #000000;
}

.range-slider__value {
  width: 35px;
  height: 20px;
}

.value_min-stock {
  text-align: center;
}

.range-slider__range {
  width: 176px;
  height: 13px;
}

.noUi-connect {
  background-color: #5e576e;
  border-radius: 0;
}

.noUi-target {
  width: 176px;
  height: 3px;
  border: none;
  background-color: #000000;
  box-shadow: none;
}
.noUi-handle {
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background-color: $color_purple;
  box-shadow: none;
}
.noUi-handle:before,
.noUi-handle:after {
  display: none;
}
.noUi-handle-lower {
  width: 15px;
  height: 15px;
  background-color: $color_purple;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.noUi-handle-upper {
  width: 15px;
  height: 15px;
  background-color: $color_purple;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.noUi-horizontal {
  width: 176px;
  height: 3px;
  border-radius: 0;
  border: none;
  outline: none;
  background-color: #000000;
}
.noUi-horizontal .noUi-handle {
  width: 15px;
  height: 15px;
  border: none;
  right: -3px;
}

.noUi-pips-horizontal {
  padding: 10px 15px 10px 10px;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}
