@mixin display-flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
.main__settings {
  width: 100%;
  height: 80px;
  padding: 0 32px 0 0;
  @include display-flex(row, space-between, center);
}

.settings__btn-block {
  width: 340px;
  height: 100%;
  padding: 0 30px;
  background-color: #ffffff;
  @include display-flex(row, space-between, center);
}

.found {
  width: 100px;
  height: 20px;
  font-size: 20px;
}

.btn-view-block {
  @include display-flex(row, center, center);
  gap: 30px;
}

.main__content {
  width: 100%;
  background-color: #ffffff;
  @include display-flex(row, space-between, flex-start);
}

.filters-block {
  width: 340px;
  @include display-flex(column, flex-start, flex-start);
}

.products-block {
  width: calc(100% - 340px);
}

@media screen and (max-width: 1300px) {
  .btn-view-block {
    gap: 15px;
  }
}

@media screen and (max-width: 1100px) {
  .main__settings {
    height: 120px;
  }

  .btn-view-block {
    display: none;
  }

  .settings__btn-block {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 250px;
  }

  .filters-block,
  .range-slider-block {
    width: 250px;
  }

  .range-slider {
    gap: 10px;
  }

  .products-block {
    width: calc(100% - 250px);
  }
}

@media screen and (max-width: 900px) {
  .main__settings {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
  }

  .settings__btn-block {
    grid-area: 1 / 1 / span 2 / 1;
  }

  .found {
    grid-area: 1 / 2 / span 2 / 2;
    justify-self: center;
  }

  .select-sort {
    grid-area: 2 / 3 / 2 / 3;
  }

  .input.input-search {
    grid-area: 1 / 3 / 1 / 3;
  }
}

@media screen and (max-width: 750px) {
  .main__settings {
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 1fr;
    padding: 0;
    height: 140px;
  }

  .settings__btn-block {
    grid-area: 1 / 1 / span 3 / 1;
  }

  .found {
    grid-area: 1 / 2 / 1 / 2;
  }

  .select-sort {
    grid-area: 2 / 2 / 2 / 2;
    justify-self: center;
  }

  .input.input-search {
    grid-area: 3 / 2 / 3 / 2;
    justify-self: center;
  }
}

@media screen and (max-width: 550px) {
  .main__settings {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
  }

  .settings__btn-block {
    grid-area: 3 / 1 / 3 / span 2;
    flex-direction: row;
    width: 100%;
    gap: 15px;
  }

  .found {
    grid-area: 1 / 1 / 1 / span 2;
  }

  .select-sort {
    grid-area: 2 / 1 / 2 / 1;
    width: 100%;
  }

  .input.input-search {
    grid-area: 2 / 2 / 2 / 2;
    width: 100%;
  }

  .main__content {
    @include display-flex(column, space-between, center);
  }

  .button.button_meddium-size.btn-reset,
  button.button_meddium-size.btn-copy-link,
  .filters-block,
  .range-slider-block,
  .range-slider__range-price.noUi-target.noUi-ltr.noUi-horizontal.noUi-txt-dir-ltr,
  .range-slider__range-stock.noUi-target.noUi-ltr.noUi-horizontal.noUi-txt-dir-ltr,
  .products-block {
    width: 100%;
  }
}
