.input-count {
  width: 146px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-count__number {
  width: 50px;
  height: 50px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
  color: #000000;
  text-align: center;
  background-color: transparent;
  border: $border_style;
  box-shadow: inset 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  outline: none;
}

.input-count__btn-count {
  width: 26px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.btn-count_plus {
  background-image: url("assets/ico-plus.png");
}
.btn-count_minus {
  background-image: url("assets/ico-minus.png");
}

.input {
  height: 40px;
  border: $border_style;
  box-shadow: inset 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  outline: none;
}

.input-search {
  width: 220px;
  background-color: $color-pink;
}

.input-search_bg-img {
  padding: 0 0 0 40px;
  background-image: url("assets/ico-search.png");
  background-position: left 8px center;
  background-repeat: no-repeat;
}
