.product-cards-area {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  column-gap: 7.5%;
  row-gap: 30px;
  padding: 60px;
  background: white;

  .product-card {
    position: relative;
    width: 220px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    transition: all 0.5s ease-in-out;

    img {
      width: 200px;
      height: 200px;
      margin: 10px 0 20px 0;
      border-radius: 2px;
      transition: all 0.5s ease-in-out;
    }

    .product-card_buttons {
      display: flex;
      justify-content: center;
      width: 200px;
      gap: 20px;
    }
  }
}

.product-card_shadow {
  position: absolute;
  top: 10px;
  width: 200px;
  height: 200px;
  padding: 12px 0 0 12px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  color: white;
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.product-not-found {
  font-size: 3.4em;
  color: $color_pink;
  grid-column: 1 / -1;
}

// .two-col {
//   width: 320px !important;
//   height: 370px !important;
//   img {
//     width: 300px !important;
//     height: 300px !important;
//   }
// }

// .two-col-shadow {
//   width: 300px !important;
//   height: 300px !important;
//   font-size: 1.3em;
// }

// .two-col-button {
//   width: 150px !important;
// }

// .two-col-btn-area {
//   width: 280px !important;
// }

//media

@media screen and (max-width: 1300px) {
  .product-cards-area {
    column-gap: 4.5%;

    .product-card {
      width: 190px;
      height: 240px;

      img {
        width: 170px;
        height: 170px;
      }

      .product-card_buttons {
        width: 170px;
        gap: 10px;
      }
    }
  }
  .product-card_shadow {
    width: 170px;
    height: 170px;
  }
}

@media screen and (max-width: 1100px) {
  .product-cards-area {
    grid-template-columns: auto auto;
  }

  .product-card_shadow{
    font-size: 0.9em;
  }
}

@media screen and (max-width: 750px) {
  .product-cards-area {
    grid-template-columns: auto;
  }
}