@mixin display-flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.cart__wrapper {
  width: 100%;
  background-color: #ffffff;
  @include display-flex(row, center, flex-start);
}

.cart__main-block {
  width: 866px;
  @include display-flex(column, center, flex-start);
}

.main-block__title-block {
  width: 100%;
  height: 67px;
  padding: 0 40px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: $color-pink;
  @include display-flex(row, space-between, center);
}

.pagination-block {
  width: 135px;
  @include display-flex(row, space-between, center);
}

.cart__summaty-block {
  width: calc(100% - 866px);
  padding: 100px 0;
  @include display-flex(row, center, center);
}
