@mixin display-flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.cart__wrapper {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 70% 30%;
  background-color: #ffffff;
}

.limit{
  background-color: $color-pink;
  width: 50px;
  margin-left: 10px;
  padding-left: 10px;
  outline: none;
}

.main-block__product-card-block {
  width: 100%;
}

.cart__main-block {
  @include display-flex(column, center, flex-start);
}

.main-block__title-block {
  width: 100%;
  height: 67px;
  padding: 0 40px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: $color-pink;
  @include display-flex(row, space-between, center);
}

.pagination-block {
  width: 135px;
  @include display-flex(row, space-between, center);
}

.cart__summaty-block {
  padding: 100px;
  @include display-flex(row, center, center);
}

.empty-text {
  width: 100%;
  font-size: 22px;
  line-height: 25px;
  font-weight: 600;
  text-align: center;
  margin: 30px 0;
}

@media screen and (max-width: 1200px){
  .cart__wrapper {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 600px){
  .main-block__title-block {
    height: 80px;
    font-size: 16px !important;
    flex-direction: column;
    padding: 0;
    align-items: flex-start;
  }
}

@media screen and (max-width: 500px) {
  .cart__summaty-block{
    padding: 50px;
  }
}
