@mixin font-size($size, $line-height) {
  font-size: $size;
  line-height: $line-height;
}
@mixin display-flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.summary-container {
  height: 400px;
  box-sizing: border-box;
  padding: 40px 40px 60px 40px;
  border: $border_style;
  border-radius: 2px;
  background-color: white;
  font-weight: 600;
  text-transform: uppercase;
  @include display-flex(column, space-between, center);
}

.summary-container__title {
  @include font-size(24px, 33px);
  text-decoration: underline;
}

.summary-container__product-count,
.summary-container__total,
.total_sum-with-promo {
  @include font-size(18px, 25px);
}

.product-count_num,
.total_sum {
  @include font-size(24px, 33px);
}

.summary-container__input-promo-code {
  width: 220px;
  @include font-size(18px, 25px);
  text-align: center;
  background-color: $color-pink;
}

.summary-container__input-promo-code::placeholder {
  text-align: center;
  text-transform: uppercase;
}

.promo-code-text {
  font-weight: 400;
  text-align: center;
  text-transform: none;
  padding: 3px 0 5px;
}

.promo-code-container {
  width: 100%;
  @include display-flex(column, flex-start, center);
}

.promo-code-container__adding-block,
.promo-code-container__total-block {
  width: 100%;
  @include display-flex(row, center, center);
}

.promo-code-container__applied-block {
  width: 100%;
  @include display-flex(column, center, center);
}

.applied-block {
  width: 95%;
  @include display-flex(row, center, center);
  padding: 4px 0;
  margin: 2px 0;
  background-color: $color-blue;
}

.adding-block__promo-name {
  text-transform: none;
}

.promo-code-btn {
  width: 50px;
  height: 25px;
  margin: 0 0 0 10px;
  border: $border_style;
  background-color: $color-pink;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  outline: none;
  transition: all 0.3s;
}

.promo-code-btn:active {
  box-shadow: inset 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.applied-block__promo-name {
  text-transform: none;
  text-decoration: underline;
}

.total-block__total-with-promo {
  @include font-size(24px, 33px);
}

.add-promo-block {
  height: 450px;
  padding: 30px 0 30px;
}

.total-with-promo {
  text-decoration: line-through 2px solid $color-pink;
}
