.prod-card-navigation {
  height: 50px;
  padding: 0 60px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  font-size: 1.3em;
  line-height: 25px;
  font-weight: 600;
  text-transform: uppercase;

  .prod-card-navigation__main-page-link {
    color: #000000;
  }
  .prod-card-navigation__main-page-link:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
  }
  .prod-card-navigation__device,
  .prod-card-navigation__name-device {
    text-decoration: underline;
  }
}

.prod-card {
  display: grid;
  grid-template-columns: auto auto;
  gap: 80px;
  background: white;
  padding: 85px;

  .prod-card__images {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 50px;

    .prod-card__images_main-image {
      grid-area: 1 / 2 / span 2 / 2;
      width: 450px;
      height: 450px;
      border-radius: 2px;
      border: $border_style;
      cursor: pointer;
    }

    .prod-card__images_image-1,
    .prod-card__images_image-2 {
      width: 200px;
      height: 200px;
      border-radius: 2px;
      border: $border_style;
      cursor: pointer;
    }
  }

  .prod-card__images_image-1 {
    align-self: flex-start;
  }

  .prod-card__images_image-2 {
    align-self: flex-end;
  }

  .prod-card__description {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;

    .prod-card__description__desc {
      display: grid;
      grid-template-rows: auto auto auto;
      gap: 10px;
      align-items: center;

      .prod-card__description__desc_title,
      .prod-card__description__desc_price {
        font-size: 1.8em;
        font-weight: 600;
        text-decoration-line: underline;
        text-transform: uppercase;
        justify-self: center;
      }

      .prod-card__description__desc_main-desc {
        font-size: 1.3em;
      }

      .prod-card__description__desc_price {
        text-decoration: none;
      }
    }

    .prod-card__description__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
}

//media
@media screen and (max-width: 1400px) {
  .prod-card {
    gap: 30px;
    .prod-card__images {
      gap: 30px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .prod-card {
    padding: 50px;
    .prod-card__images {
      .prod-card__images_main-image {
        width: 360px;
        height: 360px;
      }

      .prod-card__images_image-1,
      .prod-card__images_image-2 {
        width: 150px;
        height: 150px;
      }
    }
  }
}

@media screen and (max-width: 1090px) {
  .prod-card {
    grid-template-columns: auto;

    .prod-card__images {
      grid-area: 2 / 1 / 2 / 1;
      justify-content: center;
    }

    .prod-card__description {
      grid-area: 1 / 1 / 1 / 1;
      .prod-card__description__desc {
        padding: 0 50px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .prod-card-navigation {
    padding: 0 10px;
    font-size: 1.3em;
  }
  .prod-card {
    .prod-card__images {
      grid-area: 2 / 1 / 2 / 1;
      justify-content: center;

      .prod-card__images_main-image {
        grid-area: 1 / 1 / 1 / span 2;
        width: 300px;
        height: 300px;
      }

      .prod-card__images_image-1 {
        grid-area: 2 / 1 / 2 / 1;
        justify-self: start;
        width: 130px;
        height: 130px;
      }
      .prod-card__images_image-2 {
        grid-area: 2 / 2 / 2 / 2;
        justify-self: end;
        width: 130px;
        height: 130px;
      }
    }
    .prod-card__description {
      .prod-card__description__desc {
        .prod-card__description__desc_title,
        .prod-card__description__desc_price {
          font-size: 1.4em;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .prod-card-navigation {
    font-size: 1em;
    gap: 10px;
  }
  .prod-card {
    padding: 20px;
    .prod-card__images {
      gap: 10px;
      .prod-card__images_main-image {
        width: 230px;
        height: 230px;
      }

      .prod-card__images_image-1,
      .prod-card__images_image-2 {
        width: 110px;
        height: 110px;
      }
    }

    .prod-card__description {
      .prod-card__description__desc {
        padding: 0;
        .prod-card__description__desc_main-desc {
          font-size: 1em;
        }
        .prod-card__description__desc_title,
        .prod-card__description__desc_price {
          font-size: 1.2em;
        }
      }
    }
  }

  .button.button_meddium-size.btn-add-card,
  .button.button_meddium-size.product-description__btn-buy-now {
    width: 120px;
  }
}
