@mixin display-flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin placeholder() {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: rgba($color: #000000, $alpha: 0.4);
}

@mixin input-text-style() {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  text-align: center;
}

.modal-window__shadow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);

  @include display-flex(row, center, center);
}

.modal-window {
  width: 650px;
  height: 650px;
  padding: 44px 0 47px;
  border-radius: 2px;
  background-color: #ffffff;

  @include display-flex(column, space-between, center);
}

.modal-window__title {
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
}

.modal-window__input {
  width: 400px;
  height: 45px;
  padding: 0 0 0 20px;
  background-color: $color-pink;

  @include input-text-style();
}

.modal-window__input::placeholder {
  @include placeholder();
}

.modal-window__credit-card-block {
  width: 400px;
  height: 155px;
  padding: 24px 38px 30px;
  border: $border_style;
  border-radius: 2px;
  background-color: $color_blue;

  @include display-flex(column, space-between, center);
}

.credit-card-block__field {
  width: 100%;
  @include display-flex(row, space-between, center);
}

.credit-card-ico {
  width: 40px;
  height: 40px;
  background-image: url("assets/ico-card.png");
  background-position: center;
  background-repeat: no-repeat;
}

.credit-card-ico_viza {
  background-image: url("assets/viza.png");
}

.credit-card-ico_master-card {
  background-image: url("assets/master-card.png");
}

.credit-card-ico_apple-pay {
  background-image: url("assets/apple-pay.png");
}

.input-card-number {
  width: 270px;
  background-color: $color_blue;

  @include input-text-style();
}

.input-card-date,
.input-card-cvv {
  width: 150px;
  background-color: $color_blue;

  @include input-text-style();
}

.input-card-number::placeholder,
.input-card-date::placeholder,
.input-card-cvv::placeholder {
  @include placeholder();
}

.input_error .input {
  border: 1.7px solid red;
}

.input_error .input_error-text {
  font-size: 12px;
  color: red;
}

.message-about-order {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.8);

  @include display-flex(row, center, center);
}

.message-about-order__message {
  font-size: 48px;
  line-height: 50px;
  font-weight: 600;
  color: $color-green;
}

@media screen and (max-width: 700px) {
  .modal-window {
    width: 450px;
  }

  .modal-window__title {
    text-align: center;
  }

  .modal-window__input,
  .modal-window__credit-card-block {
    width: 300px;
  }

  .input-card-number {
    width: 160px;
  }

  .input-card-date,
  .input-card-cvv {
    width: 100px;
  }
}

@media screen and (max-width: 500px) {
  .modal-window {
    width: 300px;
  }

  .modal-window__input,
  .modal-window__credit-card-block {
    width: 230px;
  }

  .modal-window__credit-card-block {
    padding: 24px 8px 30px;
  }

  .input-card-number {
    width: 210px;
  }

  .input-card-date,
  .input-card-cvv {
    width: 100px;
  }

  .credit-card-ico {
    display: none;
  }
}
