//project fonts
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

//project colors

$color_pink: #f5b2d2;
$color_red: #f2634c;
$color_yellow: #e4d536;
$color_blue: #b1c8f5;
$color_purple: #8a70d4;
$color_green: #76b56c;

$border_style: 1px solid black;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

body {
  background-color: $color_pink;
  height: 100vh;
  font-family: "Noto Sans";
  font-size: 14px;
}

.wrapper {
  padding: 1% 5% 4% 5%;
}

.header__wrapper {
  display: flex;
  background-color: white;
  border-bottom: $border_style;

  .header__wrapper__title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-weight: 700;
    font-size: 2em;
    a {
      display: inline-block;
      padding: 10px 50px;
      text-decoration: none;
      color: white;
    }
  }

  .header__wrapper__total-amount {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-right: $border_style;
    font-size: 1.4em;
  }

  .header__wrapper__cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    cursor: pointer;
    .header__wrapper__cart_image {
      img {
        width: 35px;
        height: 35px;
      }
    }
    .header__wrapper__cart_circle-with-number {
      background-color: $color_red;
      border-radius: 50%;
      width: 23px;
      height: 23px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .circle-with-number_colored {
      background-color: $color_green;
    }
  }
}

.header__wrapper__total-amount_number {
  margin: 0 0 0 5px;
}

.main {
  min-height: 65vh;
}

.footer__wrapper {
  background: linear-gradient($color_pink, transparent 1px),
    linear-gradient(90deg, $color_pink, white 1px);
  background-size: 31px 31px;
  background-position: center center;
  display: flex;
  align-items: center;
  font-size: 1.3em;

  .footer__wrapper__github {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: black;
      &:hover {
        text-decoration: underline;
      }
      img {
        margin-right: 10px;
      }
    }
  }

  .footer__wrapper__create-year {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .footer__wrapper__school-logo {
    padding: 20px 50px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 900px) {
  .header__wrapper {
    .header__wrapper__title {
      font-size: 1.5em;
      a {
        padding: 10px 30px;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .header__wrapper {
    .header__wrapper__title {
      font-size: 1.3em;
      a {
        padding: 10px 15px;
      }
    }
    .header__wrapper__total-amount {
      font-size: 1.2em;
    }
    .header__wrapper__cart {
      padding: 10px;
      .header__wrapper__cart_image {
        img {
          width: 25px;
          height: 25px;
        }
      }
      .header__wrapper__cart_circle-with-number {
        width: 20px;
        height: 20px;
      }
    }
  }

  .footer__wrapper {
    .footer__wrapper__github {
      padding-left: 20px;
    }
    .footer__wrapper__school-logo {
      padding: 20px 20px;
    }
  }
}

@media screen and (max-width: 550px) {
  .header__wrapper {
    .header__wrapper__title {
      font-size: 1em;
      a {
        padding: 5px 10px;
      }
    }
    .header__wrapper__total-amount {
      font-size: 1em;
    }
    .header__wrapper__cart {
      padding: 5px;

    }
  }
  .footer__wrapper {
    justify-content: space-between;
    .footer__wrapper__create-year {
      display: none;
    }
  }
}

@import "components/buttons/button.style";
@import "components/inputs/inputs.style";
@import "components/summary/summary.style";
@import "components/filters/filters.style";
@import "components/productCards/productCards.style";
@import "components/productCardPage/productCardPage.style";
@import "components/noUiSlider/\ nouislider.css";
@import "components/noUiSlider/noUiSloder.styles";
@import "components/modalWindow/modalWindow.style";
@import "components/cartProducts/cartProducts.style.scss";
@import "components/infinitySlider/infinitySlider.style";
@import "pages/main/main.styles";
@import "pages/cart/cart.style";
