//project fonts
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

//project colors

$color_pink: #f5b2d2;
$color_red: #f2634c;
$color_yellow: #e4d536;
$color_blue: #b1c8f5;
$color_purple: #8a70d4;

$border_style: 1px solid black;

body {
  background-color: $color_pink;
  height: 100vh;
  font-family: "Noto Sans";
  font-size: 14px;
}

.wrapper {
  margin: 70px;
}

.header__wrapper {
  display: flex;
  background-color: white;
  border-bottom: $border_style;

  .header__wrapper__title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 32px;
    span{
      display: inline-block;
      padding: 10px 50px;
    }
  }

  .header__wrapper__total-amount {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-right: $border_style;
    font-size: 20px;
  }

  .header__wrapper__cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    .header__wrapper__cart_image {
    }
    .header__wrapper__cart_circle-with-number {
      background-color: $color_red;
      border-radius: 50%;
      width: 27px;
      height: 27px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
    }
  }
}
