.wrapper-errop-page {
  width: 100%;
  min-height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-error-text {
  font-size: 48px;
  line-height: 65px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
